<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">&copy; All Rights Reserved. Yellow Team.</div><!--/.col -->
      <div class="col-6 text-right">Developed By:  Brendan, Jake, Johan, Mario</div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</footer><!--/.site-footer -->