<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/uploads/products/yellow.png" class="img-fluid" height="75" width="150" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      {{#if isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit-profile">Edit Profile</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/sign-in">Register / Sign In</a>
        </li>

      {{/if}}
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Product Search" aria-label="Search" id="searchInput">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
    </div><!-- /.collapse-->
  </div><!-- /.container-->
</nav><!-- /.navbar-->