<header class="page-header bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="/store/{{user.userName}}" id="store-btn" class="btn btn-info float-right">View Store</a>
        <h1 class="h4 text-uppercase"><span id="store-name">{{user.userName}}</span>'s Store</h1>
      </div><!-- /.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->
</header><!-- /.page-header -->