<div class="card card-product">
  <div class="card-header">
    <h3 class="h5 text-uppercase">Edit Products</h3>
  </div><!-- /.card-header -->
  <ul class="list-group list-group-flush">
    {{#each user.Products}}
      <li class="list-group-item">{{this.productName}} <br><a href="/editProducts/{{this.id}}">Edit &rarr;</a></li>
    {{/each}}
  </ul>
</div><!-- /.card -->

<div class="card card-product border-0">
  <a href="/addProducts"><button class="btn btn-block btn-primary">Add Products</button></a>
</div><!-- /.card -->

<div class="card card-product">
  <div class="card-header">
    <h3 class="h5 text-uppercase">Profile Image</h3>
  </div><!-- /.card-header -->
  <form id="profile-image-form" method="POST" enctype="multipart/form-data" action="/profile-image?_method=PUT">
    <div class="form-group mb-0">
      <div class="alert alert-secondary mb-0 rounded-0" role="alert">
        <input type="file" class="form-control-file" name="profile_image" id="profile_image" required> 
      </div><!--/.alert-->       
    </div><!--/.form-group-->
    <input type="hidden" value="{{{user.id}}}" id="id" name="id">
    <button id="update-profile-image" type="submit" class="btn btn-block btn-primary rounded-0">Update Profile Image</button>
  </form>

  <div class="alert alert-success alert-image d-none" role="alert">Your Profile image has been updated</div><!-- /.alert --> 
</div><!-- /.card -->