<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YELLOW</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- bootstrap pooper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <!-- bootstrap javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
  {{> nav }}

  {{{ body }}}

  {{> account-modal }}

  {{> footer }}
  
<script type="text/javascript" src="js/javascript.js"></script>
</body>
</html>