<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" id="addProductsCard">
        <div class="card">
          <div class="card-header">
            <h3>Add Products</h3>
          </div><!--/.card-header -->
          <div class="card-body">

            <form action="/addProducts" method="POST">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="product-name" placeholder="Product Name" required>
                  </div><!--/.form-group -->
                </div><!-- /.col -->

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="custom-select" name="category" required style="display: block">
                      <option selected>Choose a Category</option>
                      <option value="Books">Books</option>
                      <option value="Movies">Movies</option>
                      <option value="Computers">Computers</option>
                      <option value="Smartphones">Smartphones</option>
                      <option value="Tvs">Tv's</option>
                      <option value="Toys">Toys</option>
                      <option value="other">Other</option>
                    </select>
                  </div><!--/.form-group-->
                </div><!-- /.col -->

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="product-price" placeholder="Enter Price" name="price">
                  </div><!--/.form-group-->
                </div><!-- /.col -->
              </div><!--/.row -->

              <div class="form-group">
                <label for="description">Product Description</label>
                <textarea class="form-control" id="product-description" rows="10" name="description"></textarea>
              </div><!--/.form-group-->

              <div class="form-group">
                <label for="imageURL">Product Image</label>
                <input type="file" name="imageURL" class="form-control-file" id="exampleFormControlFile1">
              </div><!--/.form-group-->

              <button class="btn btn-primary" id="addProduct">Add Product</button>
            </form>

          </div><!--/.card-body -->
        </div><!--/.card-->
      </div><!--/.col-->
    </div><!--/.row -->
  </div><!--/.container-fluid -->
</section><!--/.section -->