<br>
<div class="container-fluid">
   <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12" id="addProductsCard">
            <div class="card">
                <div class="card-header">
                    <h3>Add Products</h3>
                </div>
                    <div class="card-body">
                        <form action="" method="post" id="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control form-control-sm" name="productName" id="product-name" placeholder="Product Name" required>
                                    <div class="invalid-feedback">
                                        <p>Please Enter a Product Name</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="custom-select" name="category">
                                        <option selected>Choose a Category</option>
                                        <option value="Arts, Crafts, Sewing">Arts, Crafts, Sewing</option>
                                        <option value="Automotive">Automotive</option>
                                        <option value="Beauty & Personal Care">Beauty & Personal Care</option>
                                        <option value="Clothing, Jewelry, Shoes">Clothing, Jewelry, Shoes</option>
                                        <option value="Collectibles & Fine Art">Collectibles & Fine Art</option>
                                        <option value="Electronics">Electronics</option>
                                        <option value="Home & Kitchen">Home & Kitchen</option>
                                        <option value="Pet Supplies">Pet Supplies</option>
                                        <option value="Sports & Outdoors">Sports & Outdoors</option>
                                        <option value="Toys & Games">Toys & Games</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="form-row" >
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control-sm" id="product-price" placeholder="Enter Price" name="price" required>
                                        <div class="invalid-feedback">
                                            <p>Please Enter a Price</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="sr-only" for="location">Location</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control-sm" id="product-location" placeholder="Enter Location" name="location" required>
                                        <div class="invalid-feedback">
                                            <p>Please Enter a Location</p>
                                        </div>    
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label for="description">Product Description</label>
                                    <textarea name="description" id="product-description form-control-sm" cols="80" rows="10" class="textArea" name="description" required></textarea>
                                    <div class="invalid-feedback">
                                        <p>Please Enter a Description</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>Product Image</p>
                                    <input type="file" name="imageURL">
                                </div>
                                <button class="btn btn-primary float-right" id="addProduct">Add Product</button>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
   </div>
</div>
<br>