<br>
<div class="container-fluid">
   <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12" id="addProductsCard">
            <div class="card">
                <div class="card-header">
                    <h3>Add Products</h3>
                </div>
                    <div class="card-body">
                        <form action="" method="post">
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control form-control-sm" name="productName" id="product-name" placeholder="Product Name">
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="custom-select" name="category">
                                        <option selected>Choose a Category</option>
                                        <option value="Arts, Crafts, Sewing">Arts, Crafts, Sewing</option>
                                        <option value="Automotive">Automotive</option>
                                        <option value="Beauty & Personal Care">Beauty & Personal Care</option>
                                        <option value="Clothing, Jewelry, Shoes">Clothing, Jewelry, Shoes</option>
                                        <option value="Collectibles & Fine Art">Collectibles & Fine Art</option>
                                        <option value="Electronics">Electronics</option>
                                        <option value="Home & Kitchen">Home & Kitchen</option>
                                        <option value="Pet Supplies">Pet Supplies</option>
                                        <option value="Sports & Outdoors">Sports & Outdoors</option>
                                        <option value="Toys & Games">Toys & Games</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-check">
                                    <p>User can also contact me: </p>
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input">
                                          By Phone
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            By Text
                                        </label>
                                </div>
                                <div class="form-group form-inline" >
                                    <label class="sr-only" for="price">Price</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control-sm" id="product-price" placeholder="Enter Price" name="price">

                                    <label class="sr-only" for="location">Location</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control-sm" id="product-location" placeholder="Enter Location" name="location">

                                    <label class="sr-only" for="number">Contact Number</label>
                                    <input type="tel" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control-sm" id="contact-number" placeholder="1-(555)-555-5555" name="phone">
                                </div>
                                <div class="form-group">
                                    <label for="description">Product Description</label>
                                    <textarea name="description" id="product-description form-control-sm" cols="80" rows="10" class="textArea" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <p>Product Image (Required)</p>
                                    <input type="file" name="imageURL">
                                </div>
                                <button class="btn btn-primary float-right" id="addProduct">Add Product</button>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
   </div>
</div>
<br>