
<!-- Jumbotron
================================================== -->

<div class="jumbotron text-center" id="storeJumbotron">
    <div class="container">
        <h1 id="storeTitle">Store Name</h1>
        <hr>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Me</a></p>
    </div>
    
</div>

<!-- /.jumbotron -->
    
    <!-- Logo Placement and info section
================================================== -->

<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
    <!-- Product Grid -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 id="productsHeader">Products</h1>
            <hr>
        </div>
    </div>
    <div class="row" id="productContent">
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-md-3 col-xs-6 text-center center-block">
            <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            <h3>Product Name</h3>
            <p>	<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>
    <!-- /.row -->
</div> 
<!-- /.container -->