
<!-- Jumbotron
================================================== -->

<div class="jumbotron text-center" id="storeJumbotron">
    <div class="container">
        <h1 id="storeTitle">{{{userInfo.userName}}}'s Store</h1>
        <hr>
        <p><a class="btn btn-info btn-lg" id="main-contact" href="#" role="button">Contact Me</a></p>
    </div>    
</div>

<!-- /.jumbotron -->
    
    <!-- Logo Placement and info section
================================================== -->

<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
    <!-- Product Grid -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 id="productsHeader">Products</h1>
        </div>
    </div>
    <div class="row" id="productContent">
        {{#each userInfo.Products}}
        <div class="card center-block" style="width: 20rem;">
            <img class="card-img-top img-fluid card-img" src="{{{imageURL}}}" alt="Card image cap">
            <div class="card-block">
                <h3 class="card-title">{{{productName}}}</h3>
                <a href="../product/{{{id}}}" class="btn btn-info btn-lg view-det">View details &raquo;</a>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- /.row -->
</div> 
<!-- /.container -->