  <header class="page-header bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="h4 text-uppercase">User Page</h1>
        </div><!-- /.col-->
      </div><!-- /.row-->
    </div><!-- /.container-->
  </header><!-- /.page-header -->

  <section class="section section-featured-products">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-lg-4 mb-3">
          <h3 class="h5 text-uppercase">Edit Products</h3>
          <div class="card card-product">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Product Name <a href="#" class="float-right">Edit &rarr;</a></li>
              <li class="list-group-item">Product Name <a href="#" class="float-right">Edit &rarr;</a></li>
              <li class="list-group-item">Product Name <a href="#" class="float-right">Edit &rarr;</a></li>
            </ul>          
          </div><!-- /.card -->

          <a href="/addproducts" class="btn btn-block btn-primary">Add Products</a>
          <a href="#" type="button" class="btn btn-block btn-secondary">View Your Store</a>
        </div><!-- /.col -->

        <div class="col-sm-12 col-lg-8">
          <h2 class="h5 text-uppercase">Edit User Profile</h2>

          <form id="register-form" method="POST" action="/user?_method=PUT">
            <div class="row">
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="first-name" class="form-control-label">First Name:</label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Name" required>
                </div><!-- /.form-group -->  
              </div><!-- /.col -->
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="email" class="form-control-label">Email:</label>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                </div><!-- /.form-group -->
              </div><!-- /.col -->
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="phone-number" class="form-control-label">Phone Number:</label>
                  <input type="text" class="form-control" nam="phone_number" id="phone_number" placeholder="555-555-5555" required>
                </div><!-- /.form-group -->
              </div><!-- /.col -->
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="location" class="form-control-label">Location:</label>
                  <input type="text" class="form-control" name="location" id="location" placeholder="Irvine, CA" required>
                </div><!-- /.form-group -->
              </div><!-- /.col -->
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="profile-imge" class="form-control-label">Profile Image:</label>
                  <input type="file"  class="form-control" name="profile_image" id="profile_image">
                </div><!-- /.form-group -->
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="username" class="form-control-label">Username/Storename:</label>
                  <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Username" required>
                </div><!-- /.form-group -->        
              </div><!-- /.col -->
              <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                  <label for="password" class="form-control-label">Password:</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div><!-- /.form-group -->
              </div><!-- /.col -->
            </div><!-- /.row -->
            <input type="hidden" value="1" name="id">
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>

        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.section -->