/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
  }
  hr {
    height: 1px;
    background-color: #aaa;
    width: 60%;
    
  }

  #storeJumbotron {
      margin-top: 0;
  }

  #storeTitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .card {
    padding: 10px 10px 40px 10px;
    margin: 2%;
  }

  .card-title {
    padding: 10px;
  }

  #main-contact {
    padding: 20px;
    font-size: 30px;
  }

  #productsHeader {
    font-family: 'Ubuntu', sans-serif;
      padding: 40px 20px 40px 20px;
      font-size: calc(2vw + 2vh + 1vmin);
      background-color: #302F2F;
      color: #fff;
  }

  .view-det {
    position: absolute;
    clear: both;
    bottom: 2%;
    left: 25%;

  }
  
  #productContent {
      padding-top: 20px;
  }

  #about {
      border: 1px solid #302F2F;
  }
/* USED FOR PRODUCT VIEW */
  .selected img {
    opacity:0.5;
  }
  
  #slider-thumbs {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  #slider-thumbs li {
    display: inline;
  }

  #myCarousel {
    margin-top: 20px;
  }

  #main-img {
    height: 500px;
    width: auto;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #item-main {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
  }

  #product-title {
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .modal-title { 
   margin: 0 auto;
  }

  .modal-titles {
    font-size: 25px;
    font-weight: bold;
  }

  .modal-results {
    font-weight: normal!important;
  }

  .contact-title {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 35px;
    border-top: 2px solid black;
  }

  .center{
    width: 115px;
    padding-bottom: 10px;    
  }

  #details {
    border: 3px solid #343a40;
    font-size: 25px;
    
  }

  #quantity {
    padding-top: 10px;
  }

  #contactBtn {
    margin-top: 20px !important;
  }

  #message-text {
    height: 200px;
  }


  /********************* END PRODUCT VIEW */ 
  
  footer {
      padding-top: 30px;
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 768px) {

    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
}

.hr {
    height: 0;
    background-color: lightgrey;
    width: auto;
}

