html {
	position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 55px;
}
.page-header {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.card-product,
.media-category {
  margin-bottom: 15px;
}
.site-footer {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
  background-color: #000;
}

.largeDIV {
background: rgba(137, 182, 255, 0.5);
}

.smallDIV {
background: rgba(191, 214, 252, 0.5);
padding: 20px 15px 15px 15px;
}

.sm-picture {
margin: 20px 10px 20px 15px;
border: 3px solid white;
}
.productText {
padding: 25px 30px 15px 0;
color: darkblue;
}
.searched {
margin: 5px;
}

.textArea {
  max-width: 100%;
}

#addProductsCard {
  margin: auto;
}

#edited-description {
  max-width: 100%;
}
.navbar {
  background-color: #000!important;
}
.navbar .navbar-nav .nav-link {
  color: #ffeb3b;
}
.navbar .btn-primary {
  color: #000;
  background-color: #ffeb3b;
  border-color: #ffeb3b;
}
.truncate {
  width: 100%;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}